[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"cognitojwt" = ">=1.1.0"
Flask = "*"
werkzeug = "*"
requests = "*"
rsa = "*"

[dev-packages]

[requires]
python_version = "3.7"
